.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  width: 100%;
  z-index: 2;
}

.containerTable {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  width: 100%;
  z-index: 2;
}

.containerTable h2 {
  margin-bottom: 20px;
}

.fatButton {
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 10px;
  }

  .containerTable {
    margin-top: 80px;
    overflow-x: scroll;
  }

  .description {
    font-size: 0.8rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

.table {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.th {
  background-color: #f2f2f2;
  border: 1px solid black;
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.th:first-child {
  width: 20px;
}

.th:nth-child(2) {
  width: 150px;
}

.th:nth-child(5) {
  width: 200px;
}

.th:nth-child(7) {
  width: 400px;
}

.td {
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
}

.dimensionTable {
  padding: 1px;
  width: 100%;
}

.dimensionTableTheadTh {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.353);
  padding: 5px;
  width: 33%;
}

.dimensionTableTheadTh:first-child {
  text-align: left;
}

.dimensionTableTheadTh:last-child {
  text-align: right;
}

.dimensionTableTd {
  border-bottom: none;
  border-bottom: 0.2px solid black;
  padding: 2px;
}

.dimensionTableTd:first-child {
  text-align: left;
}

.dimensionTableTd:last-child {
  text-align: right;
}

.dimensionNameStyle {
  font-weight: 'bold';
}
